.gallery-section {
  display: flex;
  background-color: #11efd1;
}

@media screen and (min-width: 1200px) {
  .gallery-section {
    min-height: 100vh;
    background-color: grey;
    display: grid;
    place-items: center;
  }

  .images-wrapper {
    width: 50%;
    height: 500px;
  }

  .image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
