.gallery-section {
  display: flex;
  background-color: #11efd1;
}

@media screen and (min-width: 1200px) {
  .gallery-section {
    min-height: 100vh;
    /* padding: 5%; */
    column-count: 4;
    column-width: 25%;
    background-color: white;
    /* padding: 12px 0; */
    display: grid;
    place-items: center;
  }

  /* .video {
    z-index: -1;
  } */
}
