/* Vomitable */

.gallery-section {
  min-height: 100vh;
  /* display: grid;
  place-items: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #1cdee6;;
}

.gallery-header {
  color: white;
  font-size: 2rem;
}

.images-wrapper {
  width: 80%;
  height: 25vh;
  position: relative;
}

.photo {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 0;
}


.left-arrow,
.right-arrow {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1),
  );
  backdrop-filter: blur(10px);
  height: 64px;
  width: 64px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  transition: 0.2s;
}

.left-arrow {
  left: 0;
  top: calc(50% - 32px);
}

.right-arrow {
  right: 0;
  top: calc(50% - 32px);
}

.active {
  opacity: 1;
}

@media screen and (min-width: 640px) {
  .images-wrapper {
    height: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-section {
    min-height: 100vh;
    background-color: #1cdee6;
    gap: 50px;
  }

  .gallery-header {
    font-size: 4rem;
  }

  .images-wrapper {
    width: 70%;
    height: 700px;
    position: relative;
    box-shadow: 0 0 32px 12px rgba(0, 0, 0, 0.2);
  }

  .left-arrow:hover,
  .right-arrow:hover {
    background-color:  #1cdee6;
  }

  .active {
    opacity: 1;
  }
}