@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", Helvetica, Verdana, Tahoma, sans-serif;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

#pricing {
  min-height: 100vh;
  /* background-color: lightskyblue; */
  background-image: linear-gradient(
    to right bottom,
    #2c05e9,
    #004dfd,
    #0071ff,
    #008fff,
    #00aaff,
    #00bbfe,
    #00caf8,
    #00d7ef,
    #00e2e8,
    #00ebda,
    #27f4c7,
    #5ffbb0
  );
}

#contact {
  min-height: 100vh;
  /* background-color: rgb(54, 151, 196); */
  background-image: linear-gradient(
    to right top,
    #2c05e9,
    #004dfd,
    #0071ff,
    #008fff,
    #00aaff,
    #00bbfe,
    #00caf8,
    #00d7ef,
    #00e2e8,
    #00ebda,
    #27f4c7,
    #5ffbb0
  );
}
