/* TODO: Change styles */

.overlay {
  height: 0;
  width: 100%;
  z-index: 10;
  position: fixed;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  transition: 0.4s;
}

.wrapper {
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper a {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  width: 100%;
  font-size: 2rem;
  transition: 0.1s ease-in-out;
}

.wrapper a:hover {
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.3);
  color: #1cdee6;
  font-size: 4rem;
}

.logo {
  background: linear-gradient(
    to right top,
    rgba(109, 36, 131, 0.2),
    rgba(121, 255, 255, 0.3)
  );
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  color: white;
  height: 4rem;
  top: 1rem;
  left: 0.5rem;
  font-size: 2rem;
  border-radius: 2rem;
  padding: 10px;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.button-wrapper {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.hamburger,
.cross {
  color: white;
  border: none;
  background: none;
  position: fixed;
  z-index: 20;
  cursor: pointer;
}

.cross {
  animation: spin 0.2s ease-out;
  font-size: 2rem;
}

.hamburger {
  animation: pop 0.7s;
  font-size: 3.5rem;
}

.arrow {
  background: none;
  background-image: url("../assets/arrow.png");
  backdrop-filter: blur(30px);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
  width: 4rem;
  height: 4rem;
  border-radius: 10rem;
  border: none;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  z-index: 20;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0);
  }
}

@media screen and (max-width: 600px) {
  .wrapper a {
    font-size: 1.5rem;
    padding: 3rem;
    width: 100%;
  }

  .wrapper a:hover {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper a {
    font-size: 3rem;
  }

  .wrapper a:hover {
    font-size: 5rem;
  }

  .cross {
    font-size: 2.5rem;
  }

  .hamburger {
    font-size: 4rem;
  }

  .logo {
    font-size: 2.5rem;
  }

  .arrow {
    bottom: 0;
    right: 0;
  }
}
